body
{
    background-color: black;
}



.divdois
{
    width: 700px;
    height: 300px;
    background-color: gray;
    position: absolute;
    top: 45%;
    left: 50%;
    margin: -300px 0 0 -350px;
}

.divdois .textum
{
    margin: 10px 0 0 280px;
}

.divdois .textdois
{
    margin: 10px 0 0 40px;
}

.divtres
{
    width: 700px;
    height: 100px;
    background-color: gray;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -45px 0 0 -350px;
}

.divtres .pe
{
    margin: 10px 0 0 120px;
}

.divtres .pa
{
    margin: 10px 0 0 175px;
}

.divtres .te
{
    margin: 10px 0 0 150px;
}

.divtres .jogar
{
    margin: 10px 0 0 255px;
}

.divtres .resetar
{
    margin: 10px 0 0 25px;
}

.divquatro
{
    width: 700px;
    height: 350px;
    background-color: gray;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 40px 0 0 -350px;
}

.divquatro .texttres
{
    margin: 10px 0 0 40px;
}

.pedra
{
    max-width:280px;
    max-height:180px;
    width: auto;
    height: auto;
    margin: 15px 0 0 30px;
}

.papel
{
    max-width:280px;
    max-height:180px;
    width: auto;
    height: auto;
    margin: 15px 0 0 20px;
}

.tesoura
{
    max-width:280px;
    max-height:180px;
    width: auto;
    height: auto;
    margin: 15px 0 0 30px;
}

.pcc
{
    max-width:280px;
    max-height:180px;
    width: auto;
    height: auto;
    margin: 10px 0 0 260px;
}
